<h1>Create a new name </h1>

<% if @detail.errors.any? %>
  <h2>The following errors prevented the name from being saved.</h2>
  <ul>
    <% @detail.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<%end%>

<%= form_with scope: :detail, url: details_path, local: true do |f|%>

<p>
  <%= f.label :first_name%><br />
  <%= f.text_field :first_name%>
</p>

<p>
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
<p><%= link_to 'Return to Names', details_path%> |</p>
